@import "../../../less/variable.less";

.boxContainer {
    display       : flex;
    align-items   : center;
    flex-direction: column;
    border        : 1px solid @color-gray;
    width         : 250px;
    height        : 300px;
    margin        : 10px 20px;
    cursor        : pointer;
    border-radius : 20px;
    background    : linear-gradient(360deg, #FFF 0%, #F3EDFF 100%);
    box-shadow    : 0px 5px 5px 0px rgba(0, 0, 0, 0.06);
    transition    : transform 0.3s ease;

    &:hover {
        transform: scale(1.1);

        .movieDetails {
            .title-rating {
                .title {
                    color: @color-red
                }

                .rating {
                    color: @color-orange;
                }
            }
        }
    }

    .imageContainer {
        width        : 100%;
        height       : 200px;
        overflow     : hidden;
        border-radius: 20px 20px 0px 0px;

        .image {
            max-width : 100%;
            height    : auto;
            object-fit: cover;
        }
    }

    .movieDetails {
        display       : flex;
        flex-direction: column;
        padding       : 5px 7px;

        .title-rating {
            display        : flex;
            justify-content: space-between;
            margin         : 5px 0px;

            .title {
                .font-style(@font-family-barlow, 16px, 400);
                display           : -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow          : hidden;
                text-overflow     : ellipsis;
                text-align        : left;
            }

            .rating {
                .font-style(@font-family-barlow, 16px, 400);
            }
        }

        .desc {
            display           : -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow          : hidden;
            text-overflow     : ellipsis;
            text-align        : left;

            span {
                text-align: left;
                .font-style(@font-family-barlow, 16px, 400);
            }
        }
    }


    @media (max-width: 512px) {
        width: 180px;
    }
}